/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.green-color {
    color: rgb(84,174,88);
}
  
.red-color {
    color: rgb(210,72,71);
}